.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup1{
  margin: 5px auto;
  padding: 53px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
    width: 800px;
    height: 600px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.popup2{
  margin: 5px auto;
  padding: 53px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
    width: 400px;
    height: 400px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content1 {
    
  max-height: 90%;
  overflow: auto;

}
.popup .content table,tr, td{
    
}